body{
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}
.zone{
    color: #FFF;
    font-size: 2em;
    border-radius: 4px;
}
.main-nav {
    display: flex;
    list-style: none;
    margin:0;
    font-size: 16px;
}
a:hover{
    color: black;
}
.push{
    margin-left: auto;
}
li{
    padding: 20px;
}
a{
    color: #f5f5f6;
    text-decoration: none;
}
.container01{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticky{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 60px;
}
.cover{
    width: 100%;
    height: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

/* Nosotros 1 */
.coverText{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: "Segoe UI", Segoe UI, sans-serif;
}
.coverText h1{
    color: #ffffff;
    font-size: 100px;
    font-weight: normal;
}
.coverText1{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 22px;
    font-family: "Tahoma", Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 4em;
}

.social_links{
    position: absolute;
    top: 90%;
    left: 80%;
    width: 200px;
    height: 30px;
}
.arrow_down{
    position: absolute;
    top: 90%;
    left: 47%;
    width: 80px;
    height: 40px;
}

/* Nosotros 2 */
.container02{
    width: 95%;
    margin: 0 auto;
}

.img01{
    /* forma */
    width: 10cm;
    height: 5.5cm;
    /* posicion */
    position: absolute;
    left: 2.5cm;
    top: 18cm;
    /*border: 3px solid black;*/
}
.aboutSTtxt{
    /* color & font */
    margin: 0;
    color: #2196F3;
    font-family: Segoe UI, sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding: 5.7em;
    /* position */
    position: absolute;
    left: 12cm;
    top: 14.3cm;
}
.img02{
    /* forma */
    border-radius: 15px;
    width: 10cm;
    height: 5.5cm;
    /* posicion */
    position: absolute;
    left: 2.5cm;
    top: 25cm;
}
.img03{
    /* forma */
    border-radius: 15px;
    width: 10cm;
    height: 5.5cm;
    /* posicion */
    position: absolute;
    left: 18cm;
    top: 25cm;
}

.Nosotros02{
    padding: 10em 0;
}
/* Nosotros 3 */

/* Nosotros 4 */

/* === FIN === */
footer{
    text-align: center;
    padding: 3px;
    background-color: #7E57C2;
}
footer p{
    font-size: 1rem;
}
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 10px;
}
.blue{
    background: #7e57c2;
}