body{
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}
.zone{
    color: #FFF;
    font-size: 2em;
    border-radius: 4px;
}
.main-nav {
    display: flex;
    list-style: none;
    margin:0;
    font-size: 0.7em;
}
a:hover{
    color: black;
}
.push{
    margin-left: auto;
}
li{
    padding: 20px;
}
a{
    color: #f5f5f6;
    text-decoration: none;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticky{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.cover{
    width: 100%;
    height: 100%;
}
.coverText{
    position: absolute;
    left: 20%;
    top: 55%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: bold;
}
.coverText h1{
    color: #9575cd;
    font-size: 40px;
}
.coverText1{
    position: absolute;
    left:26.5%;
    top: 60%;
    transform: translate(-50%,-50%);
    color:white;
    font-weight: bold;
}
.coverText1 h2{
    color:white;
    font-size: 25px;
}
footer{
    text-align: center;
    padding: 3px;
    background-color: #30336b;
}
footer p{
    font-size: 1rem;
}
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 10px;
}
.blue{
    background: #7e57c2;
}
